# Prerequisites
*.d

# Compiled Object files
**/*.o
**/*.obj
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
**/*.exe
**/*.out
*.exe
*.out
*.app

# Configuration
**/.vscode/*

# Docs and PPT
*.doc*
*.ppt*

# ZIP
*.zip

# Unrelated Files
*.dtmp

# Test Files
test/

# confg files
env_confg/*
!env_confg/Dockerfile
!env_confg/sources.list

# Front-end
front_end/*